body{
    font-family: sans-serif;
}

nav{
    background-color: #000;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
}

nav ul{
    list-style: none;
    margin: 0 auto;
    padding:  0;
    width: 100%;
    max-width: 1920px;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

nav ul li{
    position: relative;
    float: left;
    width: 33.33%;
    text-align: center;
}

nav ul li:hover ul{
    display: block;
}

nav ul li li{
    position: relative;
    float: none;
    width: 100%;
    border: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 1.2em;
    box-sizing: border-box;
    border-right: solid 2px #000;
    border-left: solid 2px #000;
}
nav ul ul li a{
    font-size: 1rem;
    border-bottom: solid 2px #000;
}

nav ul ul li:first-child a{
    border-top: solid 2px #000;
}

nav ul li:hover a{
    background: #fff;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li li:hover a{
    background: #000;
    color: #fff;
}

.benvenuto{
    float: left;
    margin-top: 55px;
    width: 100%;
    border-bottom: solid 3px #000;


}

.benvenuto h1{
    margin-left: 37%;
    margin-right: 63%;
    width: 37%;
    text-decoration: underline;
}

.benvenuto h3{
    margin-left: 5px;
    margin-right: 5px;
}

.skyblock{
    margin-top: 5px;
    padding-right: 0px;
    max-width: 1920px;


}

.skyblock h2{
    text-decoration: underline;
    margin-left: 30%;
    margin-right: auto;
    max-width: 50%;

}

.skyblock p{

}

.skyblock img{
    border-left: solid 3px #000;
    max-width: 700px;
    float: right;
    margin-top: -2.5%;

}

.opfactions{

}

.opfactions h2{
    text-decoration: underline;
    margin-left: 30%;
    margin-right: auto;
    max-width: 50%;
}

.opfactions p{

}

.opfactions img{
    border-left: solid 3px #000;
    max-width: 700px;
    float: right;
    margin-top: -2.5%;

}